:root {
  --primary: #ffffff;
  --gray: #808080;
  --purple: #7864ec;
  --boxShadow: #937f7f59;
  --background: #f9f6f6;
}

html {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--purple) var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  color: var(--gray);
}

body {
  height: 100vh;
  background-color: var(--background);
}

.hoverableNoBGButton,
.hoverablePurpleBGIconButton,
.hoverableBGIconButton {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  border: none;
  border-radius: 5px;
}

.hoverableNoBGButton {
  background: none;
  color: #808080;
}

.hoverableNoBGButton:hover {
  background: #e7e7e7;
}

.hoverablePurpleBGIconButton,
.hoverableBGIconButton {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 900;
  i {
    font-size: 20px;
  }
}

.hoverablePurpleBGIconButton {
  font-weight: 900;
  background: var(--purple);
  color: #fff;
  i {
    color: #fff;
  }
}

.hoverableBGIconButton {
  background: #cfcece;
  color: var(--purple);
  i {
    color: var(--purple);
  }
}

.hoverablePurpleBGIconButton:hover,
.hoverableBGIconButton:hover {
  box-shadow: 0 0 5px var(--purple);
}

.scrollableCardsContainer {
  max-height: 95%;
  height: min-content;
  width: 80%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #7864ec #f5f5f5;
}
